@font-face {
    font-family:Figtree;
    src: url(../fonts/Figtree-VariableFont_wght.ttf) format(truetype);
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:FigtreeItalic;
    src: url(../fonts/Figtree-Italic-VariableFont_wght.ttf) format(truetype);
    font-weight: 300 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family:Bricolage;
    src: url(../fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf) format(truetype);
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}

html{
--background-color-light: #FFFFED;
--foreground-color-light: #272727;
--midground-color-light: #686868;
--primary-color-light: #477998;
--secondary-color-light: #cb4c2f;
--tertiary-color-light: #db3900;

--background-color-dark: #272727;
--foreground-color-dark: #FFFFED;
--midground-color-dark: #686868;
--primary-color-dark: #6f92ab;
--secondary-color-dark: #d86f5f;
--tertiary-color-dark: #e76454;

--heading-font: Bricolage,sans-serif;
--text-font: Figtree, sans-serif;

--rhythm: 0.5rem;
--rhythm-list: 1.5rem;
--margin: 1rem;
}

* {
    box-sizing: border-box;
}

body{
    background-color: var(--background-color-light);  
}

h1,h2,h3,h4{
    font-family:var(--heading-font);
}

img{
    height: auto;
    margin: var(--rhythm) 0;
    width: 100%;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    line-height: 2.5rem;
    margin: 0;
    font-weight: 700;
}

h2 {
    font-size: 2.25rem;
    line-height: 2rem;
    font-weight: 600;
    margin-block-start: var(--margin);
}

h3 {
    font-size: 1.875rem;
    font-weight: 500;
    margin-block-end: 0.4rem;
    line-height: 1.6rem;
    text-wrap: pretty;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

p {
    font-weight: 350;
}

button {
    font-family: var(--text-font);
    font-weight: 400;

    a {
        color: var(--background-color-light);
        text-decoration: none;
    }
}

button:hover {
    cursor: pointer;
    color: var(--secondary-color-light);
}

button:active {
    color: var(--tertiary-color-light);
}

main,p,ul,ol,b,i {
    color:#272727;
    line-height: 1.4rem;
    font-family:var(--text-font);
}

main{
    margin-block-start: 6rem;

    h3 {
        margin-block-start: 0.8rem;
    }

    p {
        margin-block-end: 2rem;
        margin-block-start: 0;
    }
}

a {
    text-decoration: none;
    color: var(--foreground-color-light)
}

a:hover {
    color: var(--secondary-color-light)
}

header{
    margin-top: 10vh;
}

section {
    margin: 0 var(--rhythm);
    margin-block-start: 6rem;
    
    ol {
        line-height: var(--rhythm-list);
    }
    
    h2 {
        margin-block-end: 0;
    }

    h2 + p {
        margin-block-start: 0.5rem;
    }

    p {
        margin-block-start: 0;
    }
}

div {
    margin-block-end: 2rem;
    margin-block-start: 1.5rem;
    align-items: center;

        h4 {
            margin-block-end: var(--rhythm);
        }
        
        p {
            margin-block-end: 0.5rem;
        }

        p + img {
            margin-block-end: 0;
            margin-block-start: 0;
        }

        p + b {
            margin-top: 1rem;
        }
    }

.main-menu {
    font-size: 2.75rem;
    font-family: Figtree, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 5rem;
    list-style: none;
    margin-top: 75vh;
    width: auto;
}

.main-menu li{
    border-bottom: 1px solid #272727;
}

.with-logo-menu {
    margin-top: 0;
    display: inline;
        
    img:first-child{
        width: 25vw;
        margin: 0;
    }

    img:last-child {
        max-width: 15vw;
        margin: 0;
    }

    div {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    a {        
        font-weight: 500;
        text-decoration: none;
        color: var(--foreground-color-light);
        font-size: x-large;
        margin-left: var(--rhythm);
        font-family: var(--text-font);
    }
}

.intro {
    margin: var(--rhythm);
    img {
        margin: var(--rhythm) 0;
        max-width: 50vw;
        border-radius: 100%;
    }

    h2 {
        font-weight: 300;
        font-size: 2rem;
    }

    p {
        font-weight: 400;
        color: var(--midground-color-light)
    }
}

.explore-button {
    color: var(--foreground-color-dark);
    background: var(--primary-color-light);
    padding: var(--rhythm);
    border-radius: 5px;
    border-color: transparent;
    box-shadow: -2px 2px 4px 0.5px rgba(15, 15, 15, 0.1);
}

.header {
    margin: var(--rhythm);
    ul {
       margin-left: 0;
       padding-left: 0;
    }
    li{
        list-style: none;
        border-bottom: 1px solid #272727;
        padding: 0.5rem 0;
    }
}

.case-study-cover {
    margin-block-start: 4rem;

    h2 {
        margin-block-start: 0.5rem;
        cursor: pointer;
    }
    
    p {
        margin: var(--rhythm) 0;
    }

    img {
        border-radius: 0.5rem;
        margin: 0
        ;
    }
}

.resume {

    div{
        margin-top: 0.75rem;
    }

    p {
        margin: 0;
    }

    h2 {
        margin-block-start: 0;
    }

    ul {
        padding-left: 20px;
        margin-block-start: 0.3rem;
    }

    li {
        padding-left: 0;
        margin: 0 0 0.5rem 0;
        line-height: 1.3rem;
    }
}

.resume-class {
    p {
        line-height: 1.5rem;
        margin-block-end: 0.75rem;
    }
}

.resume-contact {
    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin: 10px 0 0 0;
    }
}