@font-face {
    font-family:Figtree;
    src: url(../fonts/Figtree-VariableFont_wght.ttf) format(truetype);
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:FigtreeItalic;
    src: url(../fonts/Figtree-Italic-VariableFont_wght.ttf) format(truetype);
    font-weight: 300 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family:Bricolage;
    src: url(../fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf) format(truetype);
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}

html{
--background-color-light: #FFFFED;
--foreground-color-light: #272727;
--midground-color-light: #686868;
--primary-color-light: #477998;
--secondary-color-light: #cb4c2f;
--tertiary-color-light: #db3900;

--background-color-dark: #272727;
--foreground-color-dark: #FFFFED;
--midground-color-dark: #686868;
--primary-color-dark: #6f92ab;
--secondary-color-dark: #d86f5f;
--tertiary-color-dark: #e76454;

--heading-font: Bricolage, Arial, sans-serif;
--text-font: Figtree, Arial, sans-serif;

--rhythm: 0.5rem;
--rhythm-list: 1.5rem;
--margin: 1rem;
}

* {
    box-sizing: border-box;
}

body{
    background-color: var(--background-color-light);  
}

h1,h2,h3,h4{
    font-family:var(--heading-font);
}

img{
    height: auto;
    margin-block-end: 1.5rem;
    width: 100%;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    line-height: 2.5rem;
    margin: 0 0 0.3rem 0;
    font-weight: 700;
}

h2 {
    font-size: 2.25rem;
    line-height: 2rem;
    font-weight: 600;
    margin-block-end: 0.3rem;
}

h3 {
    font-size: 1.875rem;
    font-weight: 500;
    margin-block-end: 0.3rem;
    line-height: 1.6rem;
    text-wrap: pretty;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

h5 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 0.2rem 0;
    font-family: var(--text-font);
    line-height: 1.2rem;
}

p {
    font-weight: 350;
}

button {
    font-family: var(--text-font);
    font-weight: 400;

    a:link {
        color: var(--background-color-light);
        text-decoration: none;
    }

    button:hover {
        cursor: pointer;
        color: var(--secondary-color-light);
    }

    button:active {
        color: var(--tertiary-color-light);
    }

    button:visited {
        color: var(--midground-color-light)
    }
    
}

.normal-link a:link {
    color: var(--primary-color-light);
    text-decoration: underline;
}

.normal-link a:active {
    color: var(--secondary-color-light)
}

.normal-link a:visited {
    color: var(--tertiary-color-light)
}

main,p,ul,ol,b,i {
    color:#272727;
    line-height: 1.4rem;
    font-family:var(--text-font);
}

ol, ul {
    padding-left: 1.5rem;
    margin-block-start: 0.5rem;
}

li {
    line-height: 1.3rem;
    margin-block-end: var(--rhythm);
}


main{
    margin-block-start: 6rem;

    h3 {
        margin-block-start: 0.8rem;
    }

    p {
        margin-block-end: 1.5rem;
        margin-block-start: 0;
    }
}

header{
    margin-top: 10vh;
    margin: 0 var(--rhythm);
}

section {
    margin: 0 var(--rhythm);
    margin-block-start: 6rem;
    
    ol {
        line-height: var(--rhythm-list);
    }

    h2 + p {
        margin-block-start: 0.5rem;
        margin-block-end: 0.3rem;
    }

    p {
        margin-block-start: 0;
    }

    p + p {
        margin-block-end: 1rem;
    }

    div > img{
        margin-bottom: 2rem;
    }

    img > p {
        margin-block-end: 0;
    }

    p > ul {
        margin-bottom: 0.2rem;
    }
}

div {
    margin-block-start: 0;
    align-items: center;

        h4 {
            margin-block-end: var(--rhythm);
        }
        
        p {
            margin-block-end: 0.5rem;
        }

        p + img {
            margin-block-end: 0;
            margin-block-start: 0;
        }

        p + b {
            margin-top: 1rem;
        }

        video {
            margin-bottom: 3rem;
            border-radius: 0.5rem;
            width: 100%;
            background-color: black;
        }

        h3 {
            margin-block-start: 0;
        }

        img:last-child {
            margin-block-end: 0.5rem;
        }
}

.img_after{
    margin-block-end: 0.5rem;
}

.main-menu {
    font-size: 2.75rem;
    font-family: Figtree, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 5rem;
    list-style: none;
    margin-top: 55vh;
    width: auto;

    ul {
        padding: 0;
        margin: 0;
    }
}

.main-menu li{
    border-bottom: 1px solid #272727;
    line-height: 4rem;
    padding-left: var(--rhythm);
    margin-bottom: 0;

    a:link {
        color: var(--primary-color-light);
        text-decoration: underline;
    }
    
        a:active {
        color: var(--secondary-color-light)
    }
    
        a:visited {
        color: var(--tertiary-color-light)
    }   
}

.with-logo-menu {
    margin-top: 0;
    display: inline;
        
    img:first-child{
        width: 25vw;
        margin: 0;
    }

    img:last-child {
        max-width: 10vw;
        margin: 0 4px 0 0;
    }

    div {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    a {        
        font-weight: 500;
        text-decoration: none;
        color: var(--foreground-color-light);
        font-size: x-large;
        margin-left: var(--rhythm);
        font-family: var(--text-font);
    }
}


.index {
    margin-top: 3rem;
}

.intro {
    margin: var(--rhythm);
    
    img {
        max-width: 50vw;
        border-radius: 100%;
        margin: 0;
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        margin-block-start: 0rem;
        font-family: var(--text-font);
        font-weight: 400;
        margin-block-end: 0;
        font-size: larger;
        line-height: 1.5rem;
    }

    p {
        font-weight: 300;
        font-size: 0.8rem;
        color: var(--midground-color-light);
        margin-block-start: 0;
    }
}

.explore-button {
    display: flex;
    justify-content: center;
    color: var(--background-color-light);
    text-decoration: none;
    background: var(--tertiary-color-light);
    padding: var(--rhythm);
    width: 100%;
    border-radius: 0.5rem;
    border-color: transparent;
    box-shadow: -2px 2px 4px 0.5px rgba(15, 15, 15, 0.1);

    a:link {
        color: var(--foreground-color-dark);
        text-decoration: none;
    }
    
    a:active {
        color: var(--foreground-color-dark);
        text-decoration: none;
    }
    
    a:visited {
        color: var(--foreground-color-dark);
        text-decoration: underline;
    }
}

.justify-center{
    display: flex;
    justify-content: center;
}

.back-to-home-button {
    display: flex;
    color: var(--foreground-color-dark);
    background: var(--tertiary-color-light);
    padding: var(--rhythm);
    margin-block-start: 1.5rem;
    /* width: 100%; */
    width: calc(100% - 1rem);
    justify-content: center;
    align-self: center;
    border-radius: 0.5rem;
    border-color: transparent;
    box-shadow: -2px 2px 4px 0.5px rgba(15, 15, 15, 0.1);

    a:link {
        color: var(--foreground-color-dark);
        text-decoration: none;
    }
    
    a:active {
        color: var(--foreground-color-dark);
        text-decoration: none;
    }
    
    a:visited {
        color: var(--foreground-color-dark);
        text-decoration: underline;
    }
}

.back-to-home-button:active {
    background: var(--secondary-color-light);
}

.header {
    /* margin: 0 var(--rhythm); */
    margin-block-start: 2rem;

    p {
        margin-block-start: 0.25rem;
        margin-block-end: 0.5rem;
    }
    ul {
       margin-left: 0;
       padding-left: 0;
    }
    li{
        list-style: none;
        border-bottom: 1px solid #272727;
        padding: 0.5rem 0;
    }
}

.case-study-cover {
    margin-block-start: 4rem;
    padding: 0.5rem;
    border: 1px solid #272727;
    border-radius: 1rem;

    h2 {
        margin-block-start: 0.25rem;
        margin-block-end: 0;
        line-height: 1.9rem;
        cursor: pointer;
    }
    
    p {
        margin-block-start: 0.5rem;
        margin-block-end: var(--rhythm);
        line-height: 1.3rem;
    }

    img {
        border-radius: 0.5rem;
        margin: 0;
    }

    a {
        color: var(--foreground-color-light);
        text-decoration: none;
    }

    a:link {
        color: var(--foreground-color-light);
        text-decoration: none;
    }
    
    a:active {
        color: var(--midground-color-light);
        text-decoration: underline;
    }
}

.cover {
    border-radius: 0.5rem;
    margin: 1rem 0 0 0;
}

.resume {
    margin-block-start: 0.5rem;
    
    section {
        margin-block-start: 2.3rem;
    }

    div{
        margin-top: 1.3rem;
    }

    p {
        margin: 0;
    }

    h2 {
        margin-block-start: 0;
    }

    ul {
        padding-left: 20px;
        margin-block-start: 0.3rem;
    }

    li {
        padding-left: 0;
        margin: 0 0 0.5rem 0;
        line-height: 1.3rem;
    }
}

.resume-class {
    margin-block-start: 0.5rem;
}

.resume-skills {
    p {
        line-height: 1.5rem;
        margin-block-end: 0.75rem;
    }
}

.resume-contact {
    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin: 10px 0 0 0;
    }
}

.about {
    margin-top: 0;
    margin: 0 var(--rhythm);

    img {
        border-radius: 0.5rem;   
        margin-block-end: 0.3rem;
    }
}

.Rezy {
    font-size: 2.1rem;
    line-height: 2rem;
}

.no-margin {
    margin-bottom: 0;
}

.wrapper {
    margin: 0 var(--rhythm);
}

.ebay-critiques {
    div {
        margin-bottom: 3rem;
    }

    div:first-child {
        margin-bottom: 1.5rem
    }
}

.contact-list {
    list-style: none;
    padding: 0;
}

.p-big {
    font-size: 1.5rem;
}

.ambee-final {
    div {
        margin-bottom: 2rem;
    }

    div:first-child {
        margin-bottom: 1rem;
    }

    div:last-child {
        margin-bottom: 3rem
    }
}
/* 
.contact-header{
    margin-top: 10vh;
    margin: 0;
} */

#final-prototype-button {
    margin: 0.5rem 0 1.5rem 0;
}


#bottom {
    margin-block-end: 0;

    p {
        margin: 0;
        font-size: 0.7rem;
    }
}